In [1]:
import pandas as pd
import numpy as np

In [45]:
data = {
    '번호':[f'{i+1}번' for i in range(8)],
    '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
    '원':['￦19,700','￦18,400','￦16,800','￦18,700','￦18,800','￦20,200','￦18800','￦19000'],
    '우대':[90,40,80,40,15,80,55,100]
}

df = pd.DataFrame(data)
df.set_index('번호',inplace=True)

In [47]:
# 금액컬럼 추가 ( 금액 : 원 + 원*우대 )
won = df['원'].str.slice(1,).str.replace(',','').astype(int)

df['금액'] = 0
# df['금액'] = (won + won*df['우대']/100).astype(int)

In [ ]:
# 우대 50 이상인 사람만 적용해서 금액 산출 >> 50미만 - 미적용 / 50이상 - 원금*(1+(우대/100))

df.loc[df['우대']<50,'금액'] = won
df.loc[df['우대']>=50,'금액'] = won * (100+df['우대'])/100

In [ ]:
# 함수 사용:
def change(data):
    won = data['원'].str.slice(1,).str.replace(',','').astype(int)
    if data>=50: won * (100+df['우대'])/100
    else: won
    
# ???
# df['금액'] = df.apply(change,axis=1)    # axis=1 >> 행 데이터에 함수를 적용

AttributeError: 'str' object has no attribute 'str'

In [46]:
df

     이름        원   우대
번호
1번  홍길동  ￦19,700   90
2번  유관순  ￦18,400   40
3번  이순신  ￦16,800   80
4번  강감찬  ￦18,700   40
5번   김구  ￦18,800   15
6번  김유신  ￦20,200   80
7번  홍길자   ￦18800   55
8번  홍길순   ￦19000  100