In [1]:
import pandas as pd
import numpy as np

In [45]:
data = {
   '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
   '개봉 연도' : [2014, 2019, 2017, 2014, 2019, 2012, 2014, 2017],
   '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
   '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

df = pd.DataFrame(data)
df.set_index('영화',inplace=True)

In [ ]:
# 개봉 연도 >> 2014'년도' 글자 추가해서 출력

# df.info()
# df['개봉 연도'] = df['개봉 연도'].astype(str) + '년도'
# df['개봉 연도'] = df['개봉 연도'].str.replace('년도년도년도','년도')



# 개봉 연도 별 관객 수 평균,최소,최대,합계 관객 수 출력

df.groupby('개봉 연도')['관객 수'].agg(['mean','min','max','sum'])

               mean   min   max   sum
개봉 연도
2012년도  1298.000000  1298  1298  1298
2014년도  1489.333333  1281  1761  4468
2017년도  1355.500000  1270  1441  2711
2019년도  1463.500000  1301  1626  2927

In [ ]:
# 관객 수 천 단위 표시 후 출력
# 함수 사용해서 천 단위 표시

# 1. 함수 정의해서 사용

def thousand_newbie(x):
    return str(x)[:-3] + ',' + str(x)[-3:]



def thousand(x):
    return '{:3,}'.format(x)

# df['관객 수'] = df['관객 수'].apply(thousand)

df['관객 수'] = df['관객 수'].apply(thousand_newbie)

In [34]:
# 2. map함수를 사용

df['관객 수'] = df['관객 수'].map('{:,d}'.format)

In [37]:
# 3. lambda 사용
df['관객 수'] = df['관객 수'].apply(lambda x:'{:,d}'.format(x))

In [28]:
a = 1000

# f'{a:3,}'

'{:3,}'.format(a)

'1,000'

In [47]:
df

           개봉 연도   관객 수    평점
영화
명량          2014  1,761  8.88
극한직업        2019  1,626  9.20
신과함께-죄와 벌   2017  1,441  8.73
국제시장        2014  1,426  9.16
괴물          2019  1,301  8.62
도둑들         2012  1,298  7.64
7번방의 선물     2014  1,281  8.83
암살          2017  1,270  9.10