In [1]:
import pandas as pd
import numpy as np

In [6]:
## 2개 DataFrame 합치기, concat

df1 = pd.read_csv('data/2014년졸음운전교통사고.csv',encoding='euc-kr')
df2 = pd.read_csv('data/2015년졸음운전교통사고.csv',encoding='euc-kr')
df3 = pd.read_csv('data/2016년졸음운전교통사고.csv',encoding='euc-kr')
df_con = pd.concat([df1,df2,df3])

In [ ]:
url = 'https://race.kra.co.kr/dbdata/fileDownLoad.do?fn=internet/seoul/horse/20220501sdb1.txt&meet=1'
df = pd.read_csv(url,encoding='euc-kr',skiprows=1)
# ??

In [10]:
df

     마명              산지   성별 생년월일   나이 등급 조 조교사   마주                 부마명               모마명                 총출전 1위  2위   3위  1년출전 1위   2위   3위  수득상금   레이팅  최근거래가
0     ----------------------------------------------...
1     가기만고당        한      거  2019/05/04  3   국6  48 ...
2     가나패션          한      암  2019/04/19  3   국6  26...
3     가로수길          한      수  2016/04/06  6   국2  34...
4     갈색향기          한      암  2019/02/28  3   국6  22...
...                                                 ...
1533  히든블레이드      한      암  2019/05/23  3   국6  31 강...
1534  히든삭스          미      수  2017/04/06  5   외2  09...
1535  히어로파크        한      수  2020/04/03  2   국미 26 안...
1536  히트에이스        한      암  2018/03/20  4   국5  99 ...
1537  히트파워          한      수  2020/02/11  2   국미 05 ...

[1538 rows x 1 columns]