In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel('data/asdasd.xlsx',skiprows=2,nrows=1,usecols='A,C:L')

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,전체,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,전체,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [63]:
# df.rename(columns={'Unnamed: 0':'전체'},inplace=True)

# df.set_index('전체',inplace=True)
# df.index = ['총합']
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
총합,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [67]:
df.loc['총합'] = df.loc['총합'].str.replace(',','').astype(int)

In [ ]:
# 총합: 평균, 최댓값, 최솟값
# df = df.T     # 축 변경

df
df['총합'] = df['총합'].astype(int)
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 2015 to 2024
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   총합      10 non-null     int64
dtypes: int64(1)
memory usage: 460.0+ bytes

                  총합
count      10.000000
mean   307407.300000
std     73528.438334
min    230028.000000
25%    252030.000000
50%    287506.500000
75%    350033.750000
max    438420.000000