14,15,16 4월 사고 데이터 출력
encoding='euc-kr'

In [2]:
import pandas as pd

encoding='euc_kr' 대신 메모장으로 열기 > 다른이름으로 저장 > 인코딩 방식 변경 가능

In [46]:
caracc14 = pd.read_csv('data/2014년졸음운전교통사고.csv',encoding='euc_kr',index_col='구분')
caracc14.iloc[[3],[0]]
caracc14.loc[['2014년4월'],['사고(건)']]

caracc15 = pd.read_csv('data/2015년졸음운전교통사고.csv',encoding='euc_kr',index_col = '구분')
caracc15.iloc[[3],[0]]
caracc15.loc[['2015년4월'],['사고(건)']]

caracc16 = pd.read_csv('data/2016년졸음운전교통사고.csv',encoding='euc_kr',index_col = '구분')
caracc16.iloc[[3],[0]]
caracc16.loc[['2016년4월'],['사고(건)']]

df = pd.concat([caracc14,caracc15,caracc16])
df

df.iloc[[3,15,27],[0]]

         사고(건)
구분
2014년4월    182
2015년4월    227
2016년4월    216