In [ ]:
# import pandas as pd

# data = {
#     '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
#     '학교':['가산고','가산고','가산고','가산고','가산고','디지털고','디지털고','디지털고'],
#     '키':[197,184,168,187,188,202,188,190],
#     '국어':[90,40,80,40,15,80,55,100],
#     '영어':[85,35,75,60,20,100,65,85],
#     '수학':[100,50,70,70,10,95,45,90],
#     '과학':[95,55,80,75,35,85,40,95],
#     '사회':[85,25,75,80,10,80,35,95],
#     'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
# }

# df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
# df.index.name = '지원번호'

In [1]:
import pandas as pd
df = pd.read_excel('data/score.xlsx',index_col = '지원번호')

DataFrame 기본 명령어

In [5]:
# 위부터 숫자 개수만큼 row를 출력, 기본값 5
df.head(2)

# 아래부터 숫자 개수만큼 row를 출력, 기본값 5
df.tail()

       이름    학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    강감찬   가산고  187   40   60  70  75  80     NaN
5번     김구   가산고  188   15   20  10  35  10     NaN
6번    김유신  디지털고  202   80  100  95  85  80       C
7번    홍길자  디지털고  188   55   65  45  40  35  PYTHON
8번    홍길순  디지털고  190  100   85  90  95  95      C#

In [ ]:
# 데이터 타입이 숫자인 경우만 기초 통계 제공
# str타입 컬럼은 출력되지 않음.
df.describe()


# 데이터 크기, 데이터 유형, null데이터 유무,개수
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 940.0+ bytes

In [14]:
# 함수는 아니지만
# index 리스트 출력
df.index
# 컬럼 리스트 출력
df.columns
# 테이블 모양(개수): (row수, 컬럼 수)
df.shape 
# 컬럼 출력
df[['키']]

        키
지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190

In [ ]:
# 특정 컬럼을 기준으로 가장 큰 값 n개, 기본값 5개
df['키'].nlargest()

# 특정 칼럼을 기준으로 가장 작은 값 n개
df['키'].nsmallest(3)

지원번호
6번    202
1번    197
8번    190
5번    188
7번    188
Name: 키, dtype: int64

In [28]:
# 특정 컬럼에서 중복을 제외한 값 출력 (리스트)
df['학교'].unique()     # 중복 제거 후 학교이름 출력
# 중복을 제외한 값의 개수 출력
df['학교'].nunique()     # 중복 제거 후 학교이름 개수 출력

# 개수 출력 - null 제외 후 출력
df['SW특기'].count()
df[['키']].count()

키    8
dtype: int64