In [22]:
import pandas as pd

In [ ]:
df = pd.read_excel('data/2024people_age.xlsx',skiprows=3,usecols='B,E:O',index_col = '행정기관',nrows=1)

df.columns

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [33]:

w_df = pd.read_excel('data/2024people_age.xlsx',skiprows=3,usecols='B,AE:AO',index_col = '행정기관',nrows=1)

w_df.columns = df.columns

w_df.columns

w_df['0~9세']

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

행정기관
전국      1,531,058
Name: 0~9세, dtype: object

In [34]:
m_df = pd.read_excel('data/2024people_age.xlsx',skiprows=3,usecols='B,R:AB',index_col = '행정기관',nrows=1)

m_df.columns = df.columns
m_df.columns

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [37]:
df['0~9세']
m_df['0~9세']

행정기관
전국      1,609,060
Name: 0~9세, dtype: object

In [32]:
w_df
m_df

,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
행정기관,,,,,,,,,,,
전국,"1,609,060","2,373,758","3,100,524","3,457,978","3,926,120","4,391,271","3,850,559","1,931,802","778,170","77,557","1,525"